@charset "UTF-8";

body {
    min-width: 30rem;
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
    background-color: #299636;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

main, footer{
    width: 70%;
    margin: 0 auto;
    align-items: center;
    text-align: center;
}

button {
    border-radius: 5px;
    min-height: 20px;
    padding: 5px
}

.hand {
    width: 48%;
}

#hand-area {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

canvas#table-canvas {
    margin: 0;
    width: 100%;
    height: auto;
    min-height: 400px;
    border: #ccc 2px solid;
}

#controls {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.controls-bt {
    width: 30%;
}

#controls button {
    width: 10rem;
    height: auto;
    margin: 5px 0px;
}


#money-area {
    color: white;
    background-color: rgb(5, 88, 19);
    border: #ffffff 2px solid;
    border-radius: 8px;
    padding: 20px 0px;
    margin-top: 20px;
}

#money-area button {
    width: 15%;
    padding: 8px 0px;
    margin: 0px 5px;
}

#money-text-area {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

#player-money-text, #player-bet-text {
    width: 48%;
}

.disclaimer {
    margin-top: 60px;
    text-align: left;
}
